NAVER_MAP_CLIENT_ID=your_naver_map_client_id_here
EXPO_PUBLIC_USE_UT_MAP_SCREENSHOT=true
EXPO_PUBLIC_API_URL=https://url~~
EXPO_PUBLIC_LOGIN_SECRET_KEY=추후반영
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY=~~~
EXPO_PUBLIC_LIVE_ACTIVITY_ENABLED=false
EXPO_PUBLIC_SENTRY_DSN=https://~~
SENTRY_ORG=~~
SENTRY_PROJECT=~~
# Swagger api-docs Basic 인증 (typegen용)
API_DOCS_USER=~~
API_DOCS_PASSWORD=~~
